.footer {
    background: linear-gradient(90deg, #8be4f8, #aaa6da);
    /* Matches the navbar gradient */
    padding: 20px 10%;
    color: #0c0202;
    text-align: center;
    position: relative;
}

.footer-content {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
}

.footer-logo {
    font-size: 28px;
    font-weight: 700;
    color: #0c0202;
}

.footer-nav {
    display: flex;
    justify-content: center;
    gap: 30px;
    flex-wrap: wrap;
}

.footer-nav a {
    font-size: 20px;
    color: #140606;
    font-weight: 500;
    text-decoration: none;
    position: relative;
}

.footer-nav a::before {
    content: '';
    position: absolute;
    top: 100%;
    left: 0;
    width: 0;
    height: 2px;
    background: rgb(37, 55, 224);
    transition: 0.3s;
}

.footer-nav a:hover::before {
    width: 100%;
}

.footer-bottom {
    margin-top: 20px;
    font-size: 16px;
    color: #140606;
}